.header {
  display: flex;
  align-items: center
}

.header__logo {
  height: 72px;
  width: 91px;
  padding: 5px
}

.header__title {
  font-size: 48px;
  font-weight: 600;
  color: #7e72f2;
  padding: 22px
}

.breadcrumbs {
  display: flex
}

.breadcrumbs__icon-house {
  color:#7e72f2;
}

.breadcrumbs__icon-chevrons {
  padding: 0 13px
}