.site-body {
  display: flex;
  margin-bottom: 38px
}

.container {
  padding: 0 0 0 15px
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: #2c2c2c
}

.site {
  margin: 0 auto;
  max-width: 1920px
}