.goods-card {
  flex: 1 1 auto;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 32%;
  min-height: 239px;
  display: flex;
  flex-direction: column;

  &__wrap {
    padding: 0 24px;
  }

  &__img {
    flex: 1 1 auto;
    margin: 33px;

    img {
      width: 100%;
    }
  }
}

.goods-card__rate-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.goods-card__rate {
  height: 30px;
  width: 65px;
  border-radius: 3px;
  background: #6f64f8;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.goods-card__star-svg {
  height: 12px;
  width: 13px;
}

.goods-card__price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.goods-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 3px;
}

.goods-card__category {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 22px;
}

.goods-card__buttons {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.goods-card__wish {
  padding: 14px;
  flex-basis: 50%;
  color: #2c2c2c;
  background: #ededed;
  border-radius: 0 0 0 8px;
  cursor: pointer;
  border: none;

  i {
    padding-right: 9px;
  }
}

.goods-card__add {
  padding: 14px;
  flex-basis: 50%;
  background: #6f64f8;
  border-radius: 0 0 8px;

  i {
    color: #fff;
    padding-right: 9px;
  }

  span {
    color: #fff;
  }
}
